<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Local Network Usage Description</key>
	<string>Talk Ease needs to use your phone&apos;s data to discover devices nearby and to send data to other phone</string>
	<key>Privacy - Microphone Usage Description</key>
	<string>Talk Ease needs access to your microphone to record your voice that will be saved as part of a memory that you made with your partner</string>
</dict>
</plist>
