<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Local Network Usage Description</key>
	<string>Lets talk needs to use your phone&apos;s data to discover devices nearby and to send data to other phone</string>
</dict>
</plist>
